@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #fff;
}

.principal{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.logo-inicial img{
    margin-top: 3rem;
    width: 22%;
}

.frase-inicial h1{
    color: #32BCAD;
    text-transform: uppercase;
    font-family: Russo One, sans-serif;
    font-size: 47px;
    font-weight: 100;
}