@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #fff;
    width: 100%;
}

.principal{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo-inicial img{
    margin-top: 3rem;
    width: 23%;
    margin-bottom: 1rem;
}

.frase-inicial h1{
    color: #32BCAD;
    text-transform: uppercase;
    font-family: Russo One, sans-serif;
    font-size: 40px;
    font-weight: 400;
}

@media (max-width: 768px)
{
    .logo-inicial img{
        width: 40%;
    }

    .frase-inicial h1{
        font-size: 25px;
    }
}

