@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Russo One, sans-serif;
    background-color: #fff;
    width: 100%;
}
ul {
    list-style: none;
    display: flex;
}
li{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    text-align: left;
}
h6 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
}
.principal {
    padding: 2px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo-inicial img {
    margin-top: 3rem;
    width: 23%;
    margin-bottom: 1rem;
}

.frase-inicial h1 {
    color: #32BCAD;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
}

.frase-secundaria {
    color: #333;
    text-transform: uppercase;
    font-size: 47px;
    font-weight: 100;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.frase-audio i{
    color: #32BCAD;
}

.frase-audio span{

    color: #333;
    font-weight: 400;
}

.video-principal{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    position: relative;
}

.btn {
    background-color: #ff4b4b;
    font-family: Russo One, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 200;
    color: #fff;
    padding: 12px 24px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-bottom: 2rem;
}
.btn-branco{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.btn-branco-verde {
    background-color: #fff;
    font-family: Russo One, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 200;
    color: #32BCAD;
    padding: 12px 24px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1rem;
} 

.btn {
    animation: grover 0.5s infinite;
}

.secundario {
    background-color: #32BCAD;
    display: block;
}

.secundario-primeira-frase h6 {
    color: #fff;
    padding-top: 2rem;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.secundario-segunda-frase h6{
    color: #fff;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 47px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.secundario-img{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
}

.secundario-img > div img {
    width: 250px;
    flex: 1 1 400px;
    margin: 15px;
    border-style: solid;
    border-width: 0.2px;
    border-color: #fff;
    border-radius: 10%;
    margin-bottom: 2rem;
}

.videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.video-segundo{
    width: 20%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    position: relative;
    margin: 10px;
}

.video-terceiro{
    width: 20%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    position: relative;
    margin: 10px;
}

.video-quarto{
    width: 20%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    position: relative;
    margin: 10px;
}

.video-quinto{
    width: 20%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    position: relative;
    margin: 10px;
}

.terceira-section{
    background-color: #fff;
    display: ;
}

.terceira-frase{
    color: #32BCAD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.list{
    display: flex;
    flex-direction: row;
    margin: 5px;
}
.lista-primeira{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    margin: 0 20rem 2rem 15rem;
}
.receber{
    background-color: #32BCAD;
    color: #fff;
}
@media (max-width: 768px)
{
    .logo-inicial img{
        width: 40%;
        margin-bottom: 0;

    }

    .frase-inicial h1{
        font-size: 25px;
    }

    .frase-secundaria{
        font-size: 25px;
    }
}


@keyframes grover {
    0% 
    {
       transform: scale3d(1,1,1);
    }
    50% 
    {
        transform: scale3d(1.05,1.05,1.05);
    }
}

