@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Russo One, sans-serif;
    background-color: #fff;
    width: 100%;
}


h6{
    font-size: 32px;
    margin-top: 2rem;
}



.principal {
    padding: 2px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo-inicial img {
    margin-top: 3rem;
    width: 23%;
    margin-bottom: 1rem;
}

.frase-inicial h1 {
    color: #32BCAD;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
}

.frase-secundaria {
    color: #333;
    text-transform: uppercase;
    font-size: 47px;
    font-weight: 100;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.frase-audio i{
    color: #32BCAD;
}

.frase-audio span{

    color: #333;
    font-weight: 400;
}


.frase-dois{

    color: #333;
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.btn {
    background-color: #ff4b4b;
    font-family: Russo One, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 200;
    color: #fff;
    padding: 12px 24px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.btn2 {
    background-color: #ff4b4b;
    font-family: Russo One, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 200;
    color: #fff;
    padding: 12px 24px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.btn-branco{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-branco-verde {
    background-color: #fff;
    font-family: Russo One, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 200;
    color: #32BCAD;
    padding: 12px 24px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1rem;
} 

.btn-verde {
    background-color: #32BCAD;
    font-family: Russo One, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 200;
    color: #fff;
    padding: 12px 24px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.btn {
    animation: grover 0.5s infinite;
    
}

.btn2 {
    animation: grover 0.5s infinite;
    border-radius: 11px;
    box-shadow: 0px 0px 10px 5px rgb(188 50 50 / 47%);
}

.btn-verde{
    animation: grover 0.5s infinite; 
}

.secundario {
    background-color: #32BCAD;
    display: block;
}

.secundario-primeira-frase h6 {
    color: #fff;
    padding-top: 1rem;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.secundario-segunda-frase h6{
    color: #fff;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 47px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.secundario-img{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
}

.secundario-img > div img {
    width: 250px;
    flex: 1 1 400px;
    margin: 15px;
    border-style: solid;
    border-width: 0.2px;
    border-color: #fff;
    border-radius: 10%;
    margin-bottom: 2rem;
}

.videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.video-um{
    background-color: black;
    width: 20%;
    margin-top: 1rem;   
    margin-bottom: 1rem;
    border-radius: 15px;
    margin: 10px;
}

.video-dois{
    background-color: black;
    width: 20%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    position: relative;
    margin: 10px;
}

.video-tres{
    background-color: black;
    width: 20%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    position: relative;
    margin: 10px;
}

.video-quatro{
    background-color: black;
    width: 20%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    position: relative;
    margin: 10px;
}

.video-cinco{
    background-color: black;
    width: 20%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    position: relative;
    margin: 10px;
}

.video-seis{
    background-color: black;
    width: 20%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    position: relative;
    margin: 10px;
}

.video-sete{
    background-color: black;
    width: 20%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    position: relative;
    margin: 10px;
}

.video-oito{
    background-color: black;
    width: 20%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    position: relative;
    margin: 10px;
}

.terceira-section{
    background-color: #fff;
}

.terceira-frase{
    color: #32BCAD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

.list{
    display: flex;
    flex-direction: row;
    text-align: start;
    margin: 5px;
}
.lista-primeira{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    margin-left: 20rem;
}
.lista-secundaria{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    margin-left: 3rem;
    margin-bottom: 1rem;
}
.btn-vermelho{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-vermelho-ilumi{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.receber{
    background-color: #32BCAD;
    color: #fff;
    
}
.receber-robo{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}
.receber-cont{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;

}
.receber-img{
    background-color: black;
    width: 28%;
    text-align: center;
    margin: 0.5rem 0.5rem 0.5rem 1rem;  
    padding: 30px;
    border-radius: 20px;
}

.receber-img img{
    width: 20%;
    margin-top: 1rem;
}

.receber-h4{
    color: #fff;
    margin-top: 1rem;
    font-size: 26px;
    font-weight: 200;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.receber-img p{
    font-size: 18px;
    margin-top: 1rem;
}

.bonus-exclusivo{
    background-color: #fff;
    width: 100%;
}

.bonus{
    background-color: rgb(243, 243, 243);
    width: 75%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: start;
    margin: 3rem 10rem 5rem;
    border: rgb(102, 102, 102);
    box-shadow: 8px 8px 7px 3px rgb(102, 102, 102);
    border-radius: 34px;
}

.bonus-h6{
    color: #32BCAD;
}

.list-span{
    white-space: nowrap;
    text-align: left;
    margin-top: 5px;
    font-size: 15px;
}

.video-pratica{
    background-color: #32BCAD;
}

.frase-pratica{
    font-size: 48px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #fff;
}
.video-praticando{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.video-na-pratica{
    width: 50%;
    height: 25rem;
    
}
.ultima-section{
    background-color: #232323;
    display: block;
    visibility: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    background-color: #232323;
}
.inseguro{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.inseguro-segundo{
    background-color: transparent;
    background-image: linear-gradient(180deg, #ffffff 0%, #757575 100%);
    margin: 3rem 10rem 3rem 10rem;
    border-radius: 2rem;
}

.inseguro-selo{
    color: #32BCAD;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.inseguro-selo h6{
    margin-bottom: 1rem;
}

.inseguro-inicio{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 26px;
}

/** QUESTIONS **/
.inseguro-perguntas{
    background-color: transparent;
    background-image: linear-gradient(180deg, #000000 0%, #0F7369 100%);
    margin: 1rem 2rem 2rem 2rem;
    border-radius: 48px;
    padding: 2.5rem;
}

.inseguro-perguntas h6 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

/** ACCORDIONS **/
.accodion-container {
    display: flex;
}
.accordion-item{
    margin-bottom: 1rem;
}

.accordion-item input {
    display: none;
}

.accordion-item label {
    padding: 1rem;
    color: #32BCAD;
    padding: 1rem;
    font-size: 1.3rem;
    cursor: pointer;
}

.accordion-item label i:last-child {
    display: none;
}

.accordion-text {
    height: 0;
    overflow: hidden;
    transition: 0.8s ease-in-out;
}

.accordion-text p {
    color: #fff;
    font-weight: 100;
}

.accordion-item label:hover {
    color: #fff;
    transition: 0.5s;
}

.ativado .accordion-text{
    height: 5rem;
}


[id^=accordion]:checked ~ label i:first-child{
    display: none;
}

[id^=accordion]:checked ~ label i:last-child{
    display: inline;

}


[id^=accordion]:checked ~ .accordion-text{
    margin-top: 1rem;
    height: 5rem;
}





.tem-duvida{
    background-color: #fff;
    color: #32BCAD;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer{
    position: relative;
    background-color: #000000;
    padding: 2px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer img{
    margin-top: 1rem;
    width: 5%;
    margin-bottom: 1rem;
}

.direitos{
    font-family: Roboto,sans-serif;
    color: #D3D3D3;
    font-size: 12px;
    padding: 2px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.referencia{
    position: relative;
    color: #282828;
    font-family: Roboto,sans-serif;
    padding: 2px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

.referencia p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    margin: 1rem 25rem;
}

@media (max-width: 84rem)
{
    .logo-inicial img{
        width: 40%;
        margin-bottom: 0;

    }

    .frase-inicial h1{
        font-size: 25px;
    }

    .frase-secundaria{
        font-size: 25px;
    }

    .video_principal {
        width: 50%;
    }
}

@media (max-width: 52em){
    
}

@media (max-width: 32em){

}

@keyframes grover {
    0% 
    {
       transform: scale3d(1,1,1);
    }
    50% 
    {
        transform: scale3d(1.05,1.05,1.05);
    }
}
